/* Reset CSS */

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,
fieldset,blockquote,header,footer,section,aside,nav,div,a{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th, caption{
  font-weight: normal;
  text-align: left;
}

ol{
  margin-left: 1.4em;
  list-style: decimal;
}

ul{
  margin-left: 1.4em;
  list-style: square;
}

img, fieldset{
  border: 0;
}

q:before, q:after{
  content: '';
}

/* ================================================================================================================= */


/* General */
/* REPENSAR SI ESTO ESTA BIEN COMO ESTAN ORGANIZADAS LAS CLASES */
.body{
    background-color: lightblue;        
}

nav{font-size: 1.4vw;
    width: 90vw;
    margin: 3.5vw 0 0 5vw;
    background: tan;
    padding: 0.5vw;
    display: inline-block;
    border-radius: 1vw;
    border: 0.05vw solid black;
}

/* nav p{
    float: left;
} */

#nav-provinzes{
    width: 30vw;
    border: 0.2vw dotted red;
    float: left;
}

#date-argentina{
    width: 20vw;
    border: 0.1vw solid rebeccapurple;
    font-weight: bold;
    text-align: center;
    background: skyblue;
    border-radius: 1vw; 
}

#date-argentina p{
    float: left;
        
}

#nav-provinzes, #clock, #date-today{
    float: left;
    border: 0.2vw solid blue;
} 

nav button{
    border-radius: 1vw;
    font-size: 1.2vw;
}

header{
    text-align: center;
    font-size: 8vh;
}

#nav-over{
    position: relative;
    top: 10vh;
}

.text-center {
    text-align: center;
    color: blue;
    font-size: 60px;
    font-weight: 200;
    text-decoration: underline;
    text-shadow: 5px 5px 5px grey;
    border: 2px solid black;
    background-color: black;
    padding: 100px;
    margin: 0;
}

.position-fixed{
    position: fixed;
    left: 0px;
    right: 0px;    
}


.advice-alert{
    margin-top: 0;
    width: 100vw;
    color: orangered;
    font-size: 1.6vw;
    padding: 0.7vw;
    text-decoration: underline;
    border: 0.2vw solid red;
    border-radius: 1vw;    
}

.animation-alert{
    animation-name: colorchange;
    animation-duration: 5s;
    animation-direction: initial;
    height: 3vh;
    width: 100vw;
    background-color: sandybrown;
    animation-iteration-count: infinite;
    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;

}

@keyframes colorchange{
    from {width: 0px}
    to {width: 100%}
}

@-webkit-keyframes colorchange{
    from {width: 0px}
    to {width: 100%}
}

.image-text{
    background-image: url("D:/Varios/Imagenes/Ciencias de la Atmósfera/SRV.jpg");
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    
}

.images-wrapper {
    margin: 34px;
    width: 1200px;

}

.same-line {
    float: left;
}

.nefo{
    width: 600px;
    
}

.radar{
    width: 90vw;
     
}

.sat{
    width: 600px;
}

.opacity-image{
    opacity: 0.5;
}

/* .gradient-color{
    float: left;
    background: linear-gradient(white,blue);
    margin: 4px;
} */

/* Footer */

.footer-section {
    width: 100%;
}

.text-footer{
    font-size: 40px;
    border: 4px solid tomato;
    border-radius: 15px;
    margin: 0 auto;
    background-color: red;
    padding: 80px;
    width: 550px;
}


.aside-section {
    width: 28%;
    height: 500px;
    background-color:greenyellow;
    float: right;
    margin-top: 340px;
    border: 2px solid black;
    border-radius: 30px;
}

#timer{
    font-size: 2vw;
    background: black;
    color: white;
}

.main-sectopm {
    width: 70%;
}

/* img.radar{ */
    /* } */

.figure img{
    border: 10px solid green;
}

.figure p{
    background-color: slategray;
    /* margin: 0 0 0 0; */
    /* border: 12px dashed orangered; */
    text-align: center;
}

#banner{
    margin: 25vh 0 0 25vw;
    padding: 3vw;
    width: 15vw;
    height: 15vh;
    position: absolute;
    background-color: red;
    border: 0.1vw solid black;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.5vw;
}

#banner #close{
    margin: -5vh -2.5vw;

}

#close{
    width: 1.5vw;
    border: 0.1vw solid black;
    float: right;
    
}

a{
    text-decoration: none;
}


/* Iframes */

#production-chaco{
    align: right;
}